<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.hbra" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HBRA</name>
    <description>
        App for HBRA Inspections
    </description>
    <author email="datocco13@gmail.com" href="http://example.com">
        Anthony Ditocco 
    </author>
    <content src="index.html" />
    
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true"/>

    <feature name="Camera">
    	<param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
	</feature>
   
    <feature name="Camera" value="Camera"/>

    <feature name="Camera">
        <param name="ios-package" value="CDVCamera" />
    </feature>

    <Capabilities>
        <Capability Name="ID_CAP_ISV_CAMERA" />
        <Capability Name="ID_HW_FRONTCAMERA" />
    </Capabilities>

    <feature name="http://tizen.org/api/application" required="true"/>
    <feature name="http://tizen.org/api/application.launch" required="true"/>
    
    <gap:plugin name="com.performanceactive.plugins.camera" version="1.3" />
    <gap:plugin name="de.appplant.cordova.plugin.email-composer" version="0.8.2" />
    <access origin="*" />
</widget>
