*{
	margin:0;
	padding:0;
	font-family: Arial, helvetica, sans-serif;
}


body{
	font-size:13pt;
	font-weight: bold;
	background:white;
}

.container{
	padding-left:5%;
	padding-right:5%;
	padding-top:10%;
	max-width:600px;
	background:white;
}



.container h1{
	font-size: 26pt;
	color: #333333;
	margin-left: -1%;
}

.center{
	margin:0 auto;
}

form{
	margin-top: 19px;
}

.input {
	width: 100%;
	height: 40px;
	font-size: 13pt;
	padding-left: 3px;
	border: 1px solid gray;
	font-weight: normal;
	box-shadow: inset 0px 1px 5px black;
	border-radius: 5px;
}

.underling{
	width: 101%;
        margin-left: -2px;
}

.label {
         margin-bottom: 5%;
font-size: 13px;
background: none !important;
color: #333333 !important;
text-shadow: none !important;
}

.pageTwo .form-label {
	margin-bottom: -3%;
font-size: 13px;
color: #333333 !important;
text-shadow: none !important;
border: 1px solid #999999;
border-radius: 3px;
padding: 4px;
padding-bottom: 8px;
background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 57%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(57%,#f4f4f4));
background: -webkit-linear-gradient(top, #ffffff 0%,#f4f4f4 57%);
background: -o-linear-gradient(top, #ffffff 0%,#f4f4f4 57%);
background: -ms-linear-gradient(top, #ffffff 0%,#f4f4f4 57%);
background: linear-gradient(to bottom, #ffffff 0%,#f4f4f4 57%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 );
}
.label-inset {
  margin-left: 10%;
margin-top: -8%;
 font-size: 11px;
}

.pageTwo .check {
	margin-bottom:3%;
	height: 13px;
         width: 13px;
         margin-left: 3%;
margin-top: 1%;
}
.on-site-label {
	font-size: 12px;
        color: #6B6B6B;
}

.textArea{
	width:100%;
	height:90px;
	font-size:13pt;
	padding:3px 0 0 3px;
	border: 1px solid gray;
	font-weight: normal;
	box-shadow: inset 0px 1px 5px black;
	border-radius: 5px;
	margin-bottom: 3%;
}

.arrowright {
background: #2C2C2C;
font-size: 12px;
position: relative;
width: 2.5em;
height: 1em;
margin-left: 16em;
margin-top: 9%;
z-index: 194;
}

.arrowright::before {
bottom: -0.666em;
left: 2.2em;
margin-left: -10%;
position: absolute;
border-left: 1.2em solid #2C2C2C;
border-top: 1.2em solid rgba(44, 44, 44, 0);
border-bottom: 1.2em solid rgba(44, 44, 44, 0);
content: "";
}

.arrowleft {
margin-top:2%; 
background: #2C2C2C;
font-size: 12px;
position: relative;
width: 2.5em;
height: 1em;
margin-left: 3em;
z-index: 211;
}

.arrowleft::before {
bottom: -0.66666666em;
right: 2em;
position: absolute;
border-right: 1.2em solid #2C2C2C;
border-top: 1.2em solid rgba(44, 44, 44, 0);
border-bottom: 1.2em solid rgba(44, 44, 44, 0);
content: "";
}

.after-form {
	background-color: #E6E6E6;
	height: 8em;
	margin-top: -5%;
	width: 100%;
}

.pageOne .after-form {
	background-color: #E6E6E6;
	height: 5em;
	margin-top: -21%;
}

#startTime,
#endTime{
	float:none;
	width:47.5%;
}

.float{
	width:60%;
	float:right;
}

.btn, button{
	border:3px solid black;
	background:white;
	color:black;
}

button{
	float:left;
	padding:5px;
	margin:20px 35px 0 0;
}

#btnClear{
	width:40%;
	height:40px;
	font-size: 16pt;
	float:left;
}

#btnSave{
width: 3.5em;
height: 40px;
position:relative;
font-size: 16pt;
margin-left: 8em;
margin-top: -1.2em;
border-radius: 20px;
z-index: 0;
border: 0px;
background: rgba(240,240,240,1);
background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(96,96,96,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,240,240,1)), color-stop(100%, rgba(96,96,96,1)));
background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(96,96,96,1) 100%);
background: -o-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(96,96,96,1) 100%);
background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(96,96,96,1) 100%);
background: linear-gradient(to bottom, rgba(240,240,240,1) 0%, rgba(96,96,96,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#606060', GradientType=0 );
}

#btnSubmit {
	visibility: hidden;
	margin-top: -2%;
	width: 7.5em;
	height: 2.5em;
	padding: 0px;
	font-size: 3.5vw;
	margin-left: 10%;
	position: absolute;
	border: 1px solid #000000 !important;
	z-index: 0;
	background: rgba(240,240,240,1);
}

#btnBack{
width: 3.5em;
height: 40px;
font-size: 16pt;
margin-left: 0.5em;
margin-top: -20%;
border-radius: 20px;
z-index: 10;
border: 0px;
background: rgba(240,240,240,1);
background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(96,96,96,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,240,240,1)), color-stop(100%, rgba(96,96,96,1)));
background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(96,96,96,1) 100%);
background: -o-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(96,96,96,1) 100%);
background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(96,96,96,1) 100%);
background: linear-gradient(to bottom, rgba(240,240,240,1) 0%, rgba(96,96,96,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#606060', GradientType=0 );
}

#btnSaveLater {
width: 100%;
margin-top: -2em;
font-size: 12px;
background-color: #A4A4A4;
text-decoration: underline;
padding-top: 2%;
padding-bottom: 2%;
-moz-box-shadow: inset 0 0 5px #000000;
-webkit-box-shadow: inset 0 0 5px #000000;
box-shadow: inset 0 0 5px #000000;
border: 0px !important;
zoom: 1;
}

#ui-datepicker-div{
	background:#ffffff;
	border: 3px solid #000000;
}

.check{
	height:20px;
	width:20px;
}

.pageTwo h3 {
	font-size: 12px;
margin-bottom: 4%;
}

/* .container h3 {
  font-size: 13px;
  color: #000000;
}
.form-section {
	display:table;
}
.form-checkbox {
	display:table-cell;
}
.pageTwo .label {
  font-size: 10px;
  display:table-column;
  float:left;
}
.form-row {
	display:table-row;
	clear:both;
} */
#homeScreenHeader{
	text-align: center;
	height:20vw;
	background-color:#E0E0E0;
	width:100%;
	color:#333399;
	position:relative;
}
#headText1{
	font-weight: bold;
	font-size: 4.7vw;
}
#headText2{
	font-weight: bold;
	font-size:4.2vw;
}
#sponsor{
	font-size:3.5vw;
	font-size: 2.4vh;
	margin-bottom:1%;
}
#sponsorBox{
	width:100%;
	text-align: center;
	position:fixed;
	display: inline-block;
}
.ad{
	position:relative;
	display:inline-block;
	width:40%;
	padding:1%;
	padding-top:5%;
	padding-bottom:5%;
	margin:1%;
}
#bottomAdd{
	margin-bottom: 10%;
}
.adImage{
	width:35vw;
	height:35vw;
}
#languages{
	width:100%;
	text-align:center;
    bottom: 0;
    font-size:3.8vw;
    position:fixed;
}
#footer{
	background-color: black;
	width:100%;
	bottom:0;
	margin-top:100%; 
	display: inline;
	padding-bottom:1%;
	padding-top:2%;
}
.language{
	padding-top:2%;
	display: inline-block;
	color:white;
	background-color:#585858;
	width:23%;
	margin-right: 1%;
}
#English{
	margin-left: 1%;
}
.btnLine{
	margin-top: 6%;
	width: 35%;
	color:#99CCFF;
}
#lastLine{
	margin-bottom: 6%;
}
.statusBar{
	color:black;
	float:top;
	top:0;
	height:45%;
	background-color: black;
}
.statsBarAfter{
	float:top;
	top:0;
	height:40%;
	background-image: url("ipad-retina-wallpaper-abstract-white-background-85.jpg");
	background-size: 130vw;
}
.englishHeader{
	top:0;
	text-align: center;
	position:fixed;
	width:100%;
	color:white;
	background-image: url("ipad-retina-wallpaper-abstract-white-background-85.jpg");
	background-size: 130vw;
	font-size: 6.5vw;
	padding-top:7%;
	padding-bottom: 1%;
}
.printer{
	width:5.8vw;
	height: 5.8vw;
	padding-right:5%;
	float:right;
}
.goBack{
	padding-left:5%;
	float: left;
}
.formTitle{
	font-size: 10vw;
}
.complianceCheck{
	background-color:#F0F8FF;
}
.complianceCheck:checked{
	background-color: black;
}
.compliance-label{
	padding-left: 5%;
	border: 1px solid;
	border-radius: 5px;
	border-color: #D0D0D0;
	margin:1% auto;
	background-color: #F0F0F0;
	width: 90%;
}
.complianceTxt{
	display: inline-block;
	margin-left: 10%;
 	font-size: 3.5vw;
 	margin-bottom:2%;
}
.complianceInputBox{
	padding:2%;
}
.complianceTextArea{
	width:100%;
	height:100px;
	border-radius: 5px;
}
.photoUploadDiv{
	padding: 2%;
	margin-bottom: 5%;
	display: inline-block;
	width:100%;
}
.photoUploadText{
	margin-left:1%;
	font-size: 3vw;
	display: inline-block;
}
.fileUploadtxt{
	font-size: 3vw;
}
.hiddenUntilNonCompliant{
	visibility: hidden;
	display:none;
}
.uploadPhotoButton{
	border: 1px solid;
	border-radius: 15px;
	width:100%;
	font-size:10px;
	background-color:#E8E8E8;
	margin:auto;
}
#buttonWrapper{
	font-size:large;
	width: 25%;
	display:inline-block;
	margin-top:3%;
}
.notesDiv{
	padding: 2%;
	margin-bottom: 5%;
}
.notes{
	width:100%;
	height:150px;
	border-radius: 5px;
}
.scoreDiv{
	padding: 2%;
	margin-bottom: 5%;
}
.ui-radio{
	margin-top:3%;
	margin-bottom:-3%;
}
.footerStyled{
	background: repeating-linear-gradient(
	  to right,
	  #ffffff,
	  #ffffff 10px,
	  #E8E8E8 10px,
	  #E8E8E8 20px
	);
	height:20%;
	width:100%;
	margin-top:7%;
}
#btnNext{
	margin-top: -100%;
	margin-right: .5em;
	width: 3.5em;
	height: 40px;
	font-size: 16pt;
	border-radius: 20px;
	z-index: 10;
	border: 0px;
	background: rgba(240,240,240,1);
	background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(96,96,96,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,240,240,1)), color-stop(100%, rgba(96,96,96,1)));
	background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(96,96,96,1) 100%);
	background: -o-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(96,96,96,1) 100%);
	background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(96,96,96,1) 100%);
	background: linear-gradient(to bottom, rgba(240,240,240,1) 0%, rgba(96,96,96,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#606060', GradientType=0 );
}
.arrowNext{
	margin-top:2%;
	background: #2C2C2C;
	font-size: 12px;
	position: relative;
	width: 2.5em;
	height: 1em;
	z-index: 194;
	margin-left: 1.5em;
}

.arrowNext::before {
	bottom: -0.666em;
	left: 2.2em;
	margin-left: -10%;
	position: absolute;
	border-left: 1.2em solid #2C2C2C;
	border-top: 1.2em solid rgba(44, 44, 44, 0);
	border-bottom: 1.2em solid rgba(44, 44, 44, 0);
	content: "";
}
.leftAfter-form{
	margin-top: 8%;
	width:50%;
	float:left;
	display:inline-block;
}
.rightAfter-form{
	margin-top: 8%;
	float:right;
	width:50%;
	display: inline-block;
}
.position{
	float: right;
}