*{
	margin:0;
	padding:0;
	font-family: Arial Black;
}


body{
	font-size:13pt;
	background:white;
}
/*
div{
	-webkit-transform: translate3d(0, 0, 0);
}
*/
.container{
	padding-left:5%;
	padding-right:5%;
	padding-top:10%;
	max-width:600px;
	background:white;
}
.container h1{
	font-size: 26pt;
	color: #333333;
	margin-left: -1%;
}
.center{
	margin:0 auto;
}

form{
	margin-top: 19px;
}

.input {
	width: 100%;
	height: 40px;
	font-size: 13pt;
	padding-left: 3px;
	border: 1px solid gray;
	font-weight: normal;
	box-shadow: inset 0px 1px 5px black;
	border-radius: 10px;
}

.underling{
	width: 101%;
    margin-left: -2px;
    font-size: 4vw;
}

.inpectdiv {
    margin-bottom: 5%;
	font-size: 64vw;
	background: none !important;
	color: #333333 !important;
	text-shadow: none !important;
}

.label {
    margin-bottom: 5%;
	font-size: 4vw;
	background: none !important;
	color: #333333 !important;
	text-shadow: none !important;
}
.pageTwo .form-label {
	color: #333333 !important;
	text-shadow: none !important;
	border: 1px solid #999999;
	border-radius: 3px;
	margin-left: 4vw;
	padding:3%;
	padding-top: 5%;
	word-break: normal;
	padding-bottom: 5%; 
	font-size: 4vw;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 57%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(57%,#f4f4f4));
	background: -webkit-linear-gradient(top, #ffffff 0%,#f4f4f4 57%);
	background: -o-linear-gradient(top, #ffffff 0%,#f4f4f4 57%);
	background: -ms-linear-gradient(top, #ffffff 0%,#f4f4f4 57%);
	background: linear-gradient(to bottom, #ffffff 0%,#f4f4f4 57%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 );
	margin-bottom:1%;
}
.inspCategory{
	color:black;
	font-size: 4.8vw;
	font-weight: bolder;
}
.on-site-label {
	font-size: 4vw;
    color: #6B6B6B;
}
.on-site{
	font-size: 4.5vw;
	font-weight:bold;
}
.textArea{
	width:100%;
	height:90px;
	font-size:13pt;
	padding:3px 0 0 3px;
	border: 1px solid gray;
	font-weight: normal;
	box-shadow: inset 0px 1px 5px black;
	border-radius: 5px;
	margin-bottom: 3%;
}

.after-form {
	background-color: #E6E6E6;
	border: 2px solid #E6E6E6;
	border-radius: 20px;
	height: 8em;
	margin-top: -5%;
	width: 100%;
}

.pageOne .after-form {
	background-color: #E6E6E6;
	height: 8em;
}

#startTime,
#endTime{
	float:none;
	width:47.5%;
}

.float{
	width:60%;
	float:right;
}

.btn, button{
	border:3px solid black;
	background:white;
	color:black;
}

button{
	float:left;
	padding:5px;
	margin:20px 35px 0 0;
}

#btnClear{
	width:40%;
	height:40px;
	font-size: 16pt;
	float:left;
}

#btnSave{
width: 3.5em;
height: 40px;
position:relative;
font-size: 16pt;
margin-left: 8em;
margin-top: -1.2em;
border-radius: 20px;
z-index: 0;
border: 0px;
background: rgba(240,240,240,1);
background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(96,96,96,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,240,240,1)), color-stop(100%, rgba(96,96,96,1)));
background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(96,96,96,1) 100%);
background: -o-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(96,96,96,1) 100%);
background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(96,96,96,1) 100%);
background: linear-gradient(to bottom, rgba(240,240,240,1) 0%, rgba(96,96,96,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#606060', GradientType=0 );
}


#btnSubmitfirst {
	visibility: visible;
	background-color:lightgreen;
	border: 2px solid;
    border-radius: 25px;
	width:300px;
}

#btnSubmit {
	visibility: hidden;
	margin-top: 3%;
	width: 7.5em;
	height: 2.5em;
	padding: 0px;
	font-size: 3.5vw;
	margin-left: 10%;
	position: absolute;
	border: 1px solid #000000 !important;
	z-index: 0;
	background-color:lightgreen;
	/*background: rgba(240,240,240,1);*/
}


#btnSaveLater {
width: 100%;
margin-top: -2em;
font-size: 3.5vw;
background-color: #A4A4A4;
text-decoration: underline;
padding-top: 3%;
padding-bottom: 3%;
-moz-box-shadow: inset 0 0 5px #000000;
-webkit-box-shadow: inset 0 0 5px #000000;
box-shadow: inset 0 0 5px #000000;
border: 0px !important;
border-radius: 20px;
zoom: 1;
}

#btnVDoc {
	visibility: visible;
	border: 2px solid;
	width:33%;
	text-align: center;

}

#btnEmail {
	visibility: visible;
	background-color:lightgreen;
	border: 2px solid;
	width:33%;
	text-align: center;
}

#btnBack{
	visibility: visible;
	border: 2px solid;
	width:33%;
	text-align: center;
}
.bottomButtons{
	padding-top:5%;
	padding-bottom:5%;
	margin-left: 1%;
	width:30%;
	display:inline-block;
	text-align:center;
	border: 2px solid;
	font-size: 5vw;
	border-radius:5px;
	background-color: lightgray;
	text-decoration: underline;
	box-shadow: 4px 4px 2px #888888;
	-webkit-transform: translate3d(0, 0, 0);
}
.bottomButtons:hover{
	background-color: lightgreen;
}
#button3{
	margin-left: 1%;
}
#button2{
	margin-left: 1%;
}
.finalButtons {
  width:100%;
  position:fixed;
  bottom:0;
}

#ui-datepicker-div{
	background:#ffffff;
	border: 3px solid #000000;
}

.check{
	margin-right: 5%;
	height: 20px;
	width: 20px;
}
.check:checked{
	background-color: #3366FF;
}
.pageTwo h3 {
	font-size: 12px;
margin-bottom: 4%;
}

/* .container h3 {
  font-size: 13px;
  color: #000000;
}
.form-section {
	display:table;
}
.form-checkbox {
	display:table-cell;
}
.pageTwo .label {
  font-size: 10px;
  display:table-column;
  float:left;
}
.form-row {
	display:table-row;
	clear:both;
} */
#homeScreenHeader{
	text-align: center;
	height:20vw;
	background-color:#E0E0E0;
	width:100%;
	color:#333399;
	position:relative;
}
#headText1{
	font-weight: bold;
	font-size: 4.7vw;
}
#headText2{
	font-weight: bold;
	font-size:4.2vw;
}
#sponsor{
	font-size:3.5vw;
	font-size: 2.4vh;
	margin-bottom:1%;
}
#sponsorBox{
	width:100%;
	text-align: center;
	position:relative;
	display: inline-block;
}
.ad{
	position:relative;
	display:inline-block;
	width:40%;
	padding:1%;

	padding-bottom:5%;
	margin:1%;
}
#bottomAd{
	margin-bottom: 10%;
}
.adImage{
	width:35vw;
	height:35vw;
	border: 2px solid black;
}
#topAd{
	position:relative;
	display:inline-block;
	width:85%;
	padding:1%;
	padding-top:5%;
	padding-bottom:5%;
	margin:1%;
}
#temp{
	visibility: hidden;
}
#topAdImage{
	width:80vw;
	height: 35vw;
	border: 2px solid black;
}
#languages{
	width:100%;
	text-align:center;
    bottom: 0;
    font-size:3.8vw;
    position:fixed;
}
#footer{
	background-color: black;
	width:100%;
	bottom:0;
	margin-top:100%; 
	display: inline;
	padding-bottom:1%;
	padding-top:2%;
}
.language{
	padding-top:2%;
	display: inline-block;
	color:white;
	background-color:#585858;
	width:23%;
	margin-right: 1%;
}
#English{
	margin-left: 1%;
}
.btnLine{
	margin-top: 6%;
	width: 35%;
	color:#99CCFF;
}
#lastLine{
	margin-bottom: 6%;
}
.statusBar{
	color:black;
	float:top;
	top:0;
	height:40%;
	background-color: black;
}
.statsBarAfter{
	float:top;
	top:0;
	height:40%;
	background-image: url("ipad-retina-wallpaper-abstract-white-background-85.jpg");
	background-size: 130vw;
}
.englishHeader{
	top:0;
	text-align: center;
	position:fixed;
	width:100%;
	font-weight: bolder;
	color:white;
	background-image: url("ipad-retina-wallpaper-abstract-white-background-85.jpg");
	background-size: 130vw;
	font-size: 6.5vw;
	padding-top:6%;
	padding-bottom: 1%;
	-webkit-transform: translate3d(0, 0, 0);
}
.inspectId{
	width:5.8vw;
	height: 4.5vw;
	padding-right:5%;
	float:right;
	display:inline-block;
}
#refresh{
	width:8vw;
	height: 6.5vw;
	float:right;
	display:inline-block;
	padding-right:5%;
	margin-top: 1%;
}
.goBack{
	width:7.8vw;
	height: 6vw;
	padding-left:5%;
	float: left;
}
.formTitle{
	font-size: 7.5vw;
	text-decoration: underline;
	font-weight: bolder;
}
.complianceCheck{
	background-color:#F0F8FF;
}
.complianceCheck:checked{
	background-color: #3366FF;
}
.compliance-label{
	padding-left: 5%;
	border: 1px solid;
	border-radius: 5px;
	border-color: #D0D0D0;
	margin:1% auto;
	background-color: #F0F0F0;
	width: 90%;
}
.complianceTxt{
	display: inline-block;
	margin-left: 10%;
 	font-size: 4vw;
 	
}
.complianceInputBox{
	padding:2%;
}
.complianceTextArea{
	width:100%;
	height:100px;
	border-radius: 5px;
}
.photoUploadDiv{
	padding: 2%;
	margin-bottom: 5%;
	display: inline-block;
	width:100%;
}
.photoUploadText{
	margin-left:1%;
	font-size: 3vw;
	display: inline-block;
}
.fileUploadtxt{
	float:left;
	font-size: 3vw;
}
.hiddenUntilNonCompliant{
	visibility: hidden;
	display:none;
}
.uploadPhotoButton{
	border: 1px solid;
	border-radius: 15px;
	width:100%;
	height:4.5vh;
	font-size: 2.7vw;
	font-weight: bold;
	background-color:#E8E8E8;
	margin:auto;
	margin-left: 2%;
	overflow:hidden;
}
.cameraIcon{
	float:left;
	margin-right: 3%;
}
.imgIcon{
	display:inline-block;
	position:relative;
}
.cameraLibIcon{
	margin-right: 20%;
}
.test{
	visibility: hidden;
}
#buttonWrapper{
	font-size:large;
	width: 25%;
	display:inline-block;
	margin-top:2%;
	margin-right: 5%;
}
.notesDiv{
	padding: 2%;
	margin-bottom: 5%;
}
.notes{
	width:100%;
	height:150px;
	border-radius: 5px;
}
.scoreDiv{
	text-align: center;
	padding: 2%;
	margin-bottom: 5%;
}
.score{
	font-weight: bolder;
	font-size: 5vh;
	color: #3366FF;
}
.ui-radio{
	margin-top:3%;
	margin-bottom:-3%;
}
.footerStyled{
	background: repeating-linear-gradient(
	  to right,
	  #ffffff,
	  #ffffff 10px,
	  #E8E8E8 10px,
	  #E8E8E8 20px
	);
	height:20%;
	width:100%;
	margin-top:7%;
}
.next{
	margin-right: 5vw;
	float:right;
	width: 16vw;
	position: relative;
}
.pageOne .next{
	margin-top:1em;
}
.prev{
	margin-left: 5vw;
	float:left;
	width: 16vw;
	position: relative;
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.leftAfter-form{
	margin-top: 1em;
	width:50%;
	float:left;
	display:inline-block;
}
.rightAfter-form{
	margin-top: 1em;
	float:right;
	width:50%;
	display: inline-block;
}
.position{
	float: right;
}
#popup{
	visibility: hidden;
	position: fixed;
	font-size: 4vw;
	margin-left: 25%;
	margin-right: 1%;
	height:20%;
	overflow: auto;
	padding-top: 2%;
	border:2px solid blue;
	border-radius: 35px;
	text-align: center;
	vertical-align: center;
	background-color: black;
	color:white;
	font-weight: bold;
	padding-left:4%;
	padding-right:4%;
}
.btnCtrl{
	display: inline-block;
	width: 50%;
}
.popupBtn{
	background-color: #E6E6E6;
	border-radius: 10px; 
	border:1px solid black;
	
}
#yes{
	float: left;
}
#no{
	float: right;
	right:0;
}
.division{
	 height: 12px; 
	 border: 0; 
	 box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 3.5);
	 margin-top: 10%;
}
#customHeaderInput{
	margin-left: 1%;
	width: 55%;
	font-size: 13pt;
	padding-left: 3px;
	border: 1px solid gray;
	font-weight: normal;
	box-shadow: inset 0px 1px 5px black;
	border-radius: 10px;
}
#setReset{
	border:1px solid black;
	width: 7vw;
	text-decoration: none;
	text-align: center;
	color:white;
	background-color: black;
	font-size: 3vw;
	font-weight: bold;
}
*[contenteditable] {
    -webkit-user-select: auto !important;
    -webkit-user-select: none;
}
#instructions{
	font-size: 3.5vw;
	color:red;
	font-weight: bold;
}
#selectInspection {
	font-size: 6vw;
}
#btnSetdefaults {
	visibility: visible;
	background-color:bisque;
	border: 2px solid;
    border-radius: 25px;
	width:300px;
}
a:hover {
    text-decoration: underline;
}